<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>


    <bean id="musicClassicBean"
          class="com.mkozachuk.spring.ClassicMusic">
    </bean>

    <bean id="musicRockBean"
          class="com.mkozachuk.spring.RockMusic">
    </bean>

    <bean id="musicJazzBean"
          class="com.mkozachuk.spring.JazzMusic">
    </bean>

    <bean id="musicPopBean"
          class="com.mkozachuk.spring.PopMusic">
    </bean>

    <bean id ="musicPlayer"
            class = "com.mkozachuk.spring.MusicPlayer">
            <property name="musicList">
                <list>
                    <ref bean="musicClassicBean"/>
                    <ref bean="musicJazzBean"/>
                    <ref bean="musicPopBean"/>
                    <ref bean="musicRockBean"/>
                </list>
            </property>



        
        <property name="playerName" value="${musicPlayer.playerName}" />
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>